[mysqld]

# Maximum number of connections
# (for higher values, also increase open-files-limit)
max_connections=214

# Per-table tablespaces
innodb_file_per_table=true

# Enable COMPRESSED row format
innodb_file_format=barracuda
innodb_large_prefix=true

# utf8mb4 encoding
character-set-client-handshake=false
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Maximum size of internal in-memory temporary tables
innodb_buffer_pool_size=1G
tmp_table_size=512M
max_heap_table_size=512M

# Use indexes in queries aggressively (a key scan causes at most 1000 key seeks)
max-seeks-for-key=1000

# Allow for large communication packets
max_allowed_packet=16M

# Connection timeout
wait_timeout=28800

# Slow shutdown
innodb_fast_shutdown=0

bind-address=0.0.0.0


[client]

# utf8mb4 encoding
default-character-set=utf8mb4


[mysql]

# utf8mb4 encoding
default-character-set=utf8mb4
